.Memory {}

.card-grid {
    width: 320px;
    height: 320px;
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1px;
    grid-row-gap: 1px;
    margin:auto;
    background-color: white;
}

.card-grid img {
 width: 64px;
 height: 54px;
 text-align: center;
 margin:8px;
 border: 2px solid black;
 padding: 2px;
}