.Memory {}

.card-grid {
    width: 340px;
    height: 340px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    column-gap: 1px;
    grid-row-gap: 1px;
    margin:auto;
    background-color: white;
}

.card-grid img {
 width: 64px;
 height: 64px;
 text-align: center;
 margin:4px;
 border: 2px solid black;
 padding: 0px;
}